.__admin_dashboard_container {
    display: flex;
    width: 100%;
}

.__admin_dashboard_aside {
    width: 100%;
}

.__admin_dashboard_content{
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
}

.__admin_dashboard_cards {
    display: flex;
    margin-bottom: 2rem;
    margin-left: 2rem;
    padding-top: 2rem;
}

.__admin_dashboard_card {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 16rem;
    margin-right: 2rem;
    padding-left: 1rem;
    height: max-content;
}

.__admin_dashboard_card_addon {
    display: flex;
    align-items: center;
}

.__admin_dashboard_card_addon_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #343434;
}

.__admin_dashboard_card_value {
    color: #696969;
    font-size: 26px;
    font-family: 'Lato';
    margin-bottom: 1rem;
}

.__admin_dashboard_card_explanation {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #949494;
}

.__admin_dashboard_card_explanation {
    margin-bottom: 1rem;
}

.__admin_dashboard_end {
    display: flex;
}

.__admin_dashboard_community {
    background: #FFFFFF;
    border-radius: 5px;
    width: 60%;
    height: max-content;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
}

.__admin_dashboard_information {
    width: 25%;
    height: max-content;
    padding: 1rem;
    background: #FFFFFF;
    border-radius: 5px;
}

.__admin_dashboard_last_addon{
    margin-bottom: 0.5rem;
}

.__admin_dashboard_card_addon_people{
    font-size: 18px;
    margin-left: 1rem;
    background: rgba(44, 182, 125, 0.25);
    border-radius: 5px;
    /* width: 2rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
}